{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Priority</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ priority.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ priority.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ priority.value }}</td>
            </tr>
            </tbody>
        </table>

                <a href="{{ path('priority_index') }}" class="btn btn-default">Back to the list</a>
                <a href="{{ path('priority_edit', { 'id': priority.id }) }}" class="btn btn-warning">Edit</a>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
