<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('tasks') }}">To-Do List by Jakub</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ url('fos_user_profile_show') }}"><span
                                class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                <li><a href="{{ url('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>
                        Logout</a></li>
            {% else %}
                <li><a href="{{ url('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span>
                        Sign Up</a></li>
                <li><a href="{{ url('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<body class="container-fluid">
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
</body>
</html>
