<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body, html {
        height: 100%;
    }

    .bg {

        background-image: url("https://static.pexels.com/photos/457881/pexels-photo-457881.jpeg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">To-Do List by Jakub</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><p>Zalogowano jako: {{ app.user.username }}</p></li>
                <li><a href="{{ url('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                <li><a href="{{ url('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ url('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
<body class="container-fluid">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
