{% extends "::base.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}

{% block body %}
    <div>
        <h3 class="yourLists">Your lists</h3>

        <button id="addCategoryBtn" class="btn btn-success glyphicon glyphicon-folder-open"> Add</button>

    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="addCategory">
                {{ include('category/new.html.twig', {'form' : formCategory}) }}
                <br>
            </div>
            <div id="lists">
                {% for category in categories %}
                    <ul class="list-group nav nav-pills nav-stacked">
                        <li class="list-group-item"><a href="#">{{ category.name }}<span
                                        class="badge">ilośc zadań</span></a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9" id="tasks">
            <div id="newTask">
                {{ include('task/new.html.twig', {'form' : formTask}) }}
            </div>
            <div class="list-group">
                {% for task in tasks %}
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">{{ task.name }}</a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/tasks.js') }}"></script>
{% endblock %}
